html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #333;
}
.image {
    perspective: 3000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}
.flower-img {
    display: inline-block;
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0, 70px);
    box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
}
.image:hover .flower-img {
    transform: rotateX(0) rotateZ(0) translate3d(0, 0, 0);
    box-shadow: 0 0 0 0 #000;
}